@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}
  
body {
  font-family: 'Noto Sans JP', sans-serif;
  color: #333;
  line-height: 1.6;
}
  
 ul {
  list-style-type: none;
}
  
a {
  text-decoration: none;
  color: #333;
}
  
h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}
  

p {
  margin: 10px 0;
}
  
img {
  width: 100%;
}


/* Navbar / Top part */ 

.container-flex {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 97%;
  align-items: center;
  height: 100%;
}

.navbar ul {
  display: flex;
}

.navbar a {
  padding-bottom: 20px;
}

.navbar li:hover {
  transform: scale(1.1);
  transition: transform .5s;
}

.navbar li {
  padding: 0 40px;
  font-size: 22px;
  font-weight: 700;
}

.current {
  border-bottom: solid deepskyblue;
}

/* Intro and Image */


.container-grid  {
  padding: 150px 0;
  display: grid;
  grid-auto-flow: column;
  max-width: 1100px;
  margin: auto;
  border-bottom: solid#333;
  border-width: 1px;
}

.intro-text {
  padding-right: 50px;
}


.intro-text h1 {
  font-size: 20px;
}

.intro-text p {
  opacity: 90%;
  padding-bottom: 15px;
  max-width: 300px;
}

.border {
  border-right: solid#333;
  border-width: 3px;
  opacity: 20%;
}

.profile-image img {
  width: 40%; 
  box-shadow: -5px -3px 15px -1px rgba(0,0,0,0.68);
}

.standard-button {
  border: 0;
  background: deepskyblue;
  color: #fff;
  padding: 12px 50px;
  border-radius: 5px;
  transition: 0.5s;
  font-size: 18px;
}

.standard-button:hover {
  opacity: 50%;
}

/* Footer */

.copyright-section {
  margin: auto;
  text-align: center;
  padding-top: 50px;
  font-size: 13px;
}

.copyright-section p {
  color: rgb(119, 119, 119);
}

/* Project section */

.image-container {
  max-width: 350px;
  padding: 0 15px;
}

.image-container img {
  height: 350px;
  padding-top: 5px;
}

.image-container a {
  font-size: 13px;
  color: darkblue;
}

.project-button a {
  color: #fff;
  font-size: 16px;
}

.project-button {
  padding-top: 10px;
}

.projects h1 {
  text-align: center;
  padding-top: 50px;
}

.projects-grid {
  padding-top: 20px;
  padding-bottom: 70px;
}