@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}
  
body {
  font-family: 'Noto Sans', sans-serif;
  color: #000;
  line-height: 1.6;
}
  
 ul {
  list-style-type: none;
}
  
a {
  text-decoration: none;
  color: #000;
}
  
h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}
  

p {
  margin: 10px 0;
}
  
img {
  width: 100%;
}


/* Navbar / Top part */ 

.container-flex {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  height: 100%;
  max-width: 1100px;
}

.navbar ul {
  display: flex;
}

.navbar a {
  padding-bottom: 20px;
}

.navbar li:hover {
  transform: scale(1.1);
  transition: transform .5s;
}

.navbar li {
  padding: 0 40px;
  font-size: 22px;
  font-weight: 700;
  font-family: sans-serif;
}

.name h1 {
  font-weight: 700;
}

.current {
  border-bottom: solid #ffc000;
  border-width: 4px;
}

/* Intro and Image */


.container-grid  {
  padding-top: 150px;
  padding-bottom: 100px;
  display: grid;
  grid-auto-flow: column;
  max-width: 1100px;
  margin: auto;
}

.intro-text {
  padding-right: 50px;
}


.intro-text h1 {
  font-size: 20px;
  font-weight: 700;
}

.intro-text p {
  padding-bottom: 15px;
  max-width: 300px;
}

.border {
  border-right: solid#333;
  border-width: 1px;
  opacity: 50%;
  margin-right: 10px;
}

.profile-image img {
  width: 40%; 
  box-shadow: -5px -3px 15px -1px rgba(0,0,0,0.68);
}

.standard-button {
  border: 0;
  background: #ffc000;
  color: #000;
  padding: 12px 50px;
  border-radius: 5px;
  transition: 0.5s;
  font-size: 18px;
  font-weight: 700;
}

.standard-button:hover {
  opacity: 50%;
}

/* Footer */

.copyright-section {
  margin: auto;
  text-align: center;
  padding-top: 50px;
  font-size: 13px;
}

.copyright-section p {
  color: rgb(119, 119, 119);
}

/* Project section */

.image-container {
  height: 485px;
  max-width: 350px;
  padding: 0 15px;
  background-color: whitesmoke;
}

.image-container img {
  height: 350px;
  padding-top: 5px;
  border-radius: 15px;
}

.image-container a {
  font-size: 13px;
  color: darkblue;
}

.image-container h2 {
  font-weight: 700;
}

.project-button a {
  color: #000;
  font-size: 16px;
  font-weight: 700;
}

.project-button {
  padding-top: 10px;
}

.projects h1 {
  text-align: center;
  margin: auto;
  padding: 5px 0;
  margin-bottom: 50px;
  border-bottom: solid#ffc000;
  width: 300px;
  font-weight: 700;
  border-width: 7px;
  border-radius: 7px;
  
}

.projects-grid {
  padding-top: 20px;
  padding-bottom: 150px;
}


.border-bottom {
  border-bottom: solid#000;
  border-width: 2px;
  max-width: 1100px;
  width: 90%;
  margin: auto;
  margin-bottom: 100px;
}

/* Project Page */

.showcase-projects {
  max-width: 1100px;
  margin: 0 auto;
}

.project-container {
  padding-top: 50px;

}

.project-container img {
  width: 50%;
}

.project-container a {
  color: darkblue;
}

.project-container h2 {
  font-size: 35px;
}


/* Blog posts */

.blogposts {
  padding-top: 50px;
  padding-bottom: 100px;
  display: grid;
  grid-auto-flow: column;
  max-width: 1100px;
  margin: auto;
  gap: 15px;
}

.posts {
  padding: 10px 10px;
  box-shadow: -3px -1px 15px -1px rgb(10, 1, 46);
  background-color: whitesmoke;
}

.posts h3 {
  font-size: 20px;
  color: #000;
}

iframe {
  width: 100%;
  height: 300px;
}

.background h1 {
  font-weight: 700;
  text-align: center;
  padding: 5px 0;
  width: 300px;
  margin: auto;
  border-bottom: solid#ffc000;
  border-width: 7px;
  border-radius: 7px;
}


/* About me page */

.list-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.myself {
  max-width: 1100px;
  margin: auto;
  padding: 150px 0;
}

.my-header {
  padding-bottom: 20px;
}

.my-header h1 {
  font-weight: 700;
  font-size: 40px;
}

.my-header p,
.my-header a {
  color: #000;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 500;
}

.fas,
.fab {
  color: #ffc000;
  font-size: 30px;
  padding: 15px 0;
}

.my-header ul {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.myself h2 {
  font-weight: 700;
  border-bottom: solid#ffc000;
  padding-bottom: 5px;
}

.list-grid h4 {
  font-weight: 600;
  color: #1bb2e9;
}

.list-grid i {
  opacity: 80%;
}

.experience {
  width: 650px;
}

.education {
  padding-left: 100px
}

.skills ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  font-weight: 700;
}

.passions {
  padding-left: 100px;
}

.passions i {
  color: #000;
  font-size: 22px;
  display: block;
}



/* Media queries */

@media (max-width:1100px) {

  .about {
    padding: 0 15px;
  }

  .myself {
    padding: 0 20px;
    padding-top: 150px;
  }
  
  .list-grid {
    display: block;
  }

  .education,
  .experience,
  .skills,
  .passions {
    padding-left: 0;
    max-width: 80%;
  }

  .skills ul {
    grid-template-columns: repeat(2, 1fr);
    
  }

}



@media (max-width:700px) {
  
  .navbar .container-flex {
    display: grid;
    justify-content: inherit;
  }

  .navbar ul {
    display: block;
    text-align: center;
  }

  .navbar li {
    padding: 20px 0;
  }

  .name {
    text-align: center;
  }

  .my-header ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}